
h1 {
    color: rgb(33, 34, 34);
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

h5 {
    color: rgb(33, 34, 34);
    font-size: 2rem;
    font-family: 'Cormorant Garamond', cursive;
}

p {
    font-family: 'Cormorant Garamond', cursive;
    font-size: 2rem;
}

.img1 {
    width: 100%;
    -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px 1px #444444, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}



#msj {
    text-align: center;
}

button {
    width: 20rem;
    font-family: 'Cormorant Garamond', cursive;
    font-size: 1.5rem;
}

form {
    font-family: 'Cormorant Garamond', cursive;
    
}

#email {
    font-size: 1.2rem;
}

#name {
    font-size: 1.2rem;
}

#message {
   font-size: 1.2rem; 
}

.box-img {
    justify-content: end;
}


/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    h1{
        font-size: 2.2rem;
        top: 0;
    }
    h5 {
        font-size: 1.2rem;
    }

    .box-img {
        justify-content: center;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        
        width: 12rem;}
    
    
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    h1{
        font-size: 2.5rem;
        top: 0;
    }
    h5 {
        font-size: 1.4rem;
    }
    p {
        font-size: 1.4rem;
    }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    h1{
        font-size: 2.9rem;
        top: 0;
    }
    h5 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.6rem;
    }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

    h1{
        font-size: 3.5rem;
        top: 0;
    }
    h5 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}