<div class="container">
    <div class="row my-5 ">
        <div class="col my-5">
            <h1 class="wow flipInX" data-wow-duration="1s" data-wow-delay="1s">Menú</h1>
            <div class="row justify-content-between">
                <div class="col mx-5 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="assets/menu.jpg" class="img-fluid" alt="">
                </div>
                <div class="col my-4 mx-5 align-self-center style  wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
                    <figcaption class="blockquote-footer mt-2">Entrada: Ensalada Internacional, sopa de papa
                    </figcaption>
                    <figcaption class="blockquote-footer mt-2">Plato Principal: Costilla de cerdo en adobo, bistec a la
                        BBQ </figcaption>
                    <figcaption class="blockquote-footer mt-2">Postre: Brownie, flan </figcaption>
                </div>


            </div>
        </div>
        <div class="row my-5 justify-content-between">
            <h1 class="wow git fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">Codigo de vestimenta</h1>
            <div class="col-5 align-self-center wow git fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                <p>La iglesia y el evento se realizará con vestimenta formal.</p>
            </div>
            <div class="col-5 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                <img src="assets/formal.png" alt="">
            </div>
        </div>
        
        <div class="row my-5 d-flex justify-content-center wow git fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <p id="msj">Tu presencia es muy especial, agradecemos que confirmes tu asistencia</p>
            <button class="btn btn-block btn-info rounded-pill">Confirmar Asistencia</button>

        </div>
    </div>
</div>