<div class="row d-flex justify-content-center style mt-5">
    <h1>Lista de Musica</h1> 
        <div class="col-12 col-md-3 align-self-start mt-2">
            <p>Esta es la lista de musica que escucharemos durante la fiesta.
                Ayudanos a hacer mas grande esta lista, puedes agregar tu cancion favorita</p>

        </div>
        <div class="col-12 col-md-6 align-self-start">
            <iframe src="https://open.spotify.com/embed?uri=spotify:playlist:5PYaT9X1fdUsA391Whje9r" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    
</div>