<div class="row d-flex justify-content-center wow fadeInUpBig my-5" data-wow-duration="2s" data-wow-delay="1s">
    <div class="col-xs-12 col-xl-6">
        <div class="row">
            <div class="col count-bg border border-secondary mx-2 my-2 rounded">
                <span class="number" id="days">
                    {{day}}
                </span>
                <br>
                <span class="text">
                    Dias
                </span>
            </div>
            <div class="col count-bg border border-secondary mx-2 my-2 rounded">
                <span class="number" id="hours">
                    {{hours}}
                </span>
                <br>
                <span class="text text-center">
                    Horas
                </span>
            </div>
            <div class="col count-bg border border-secondary mx-2 my-2 rounded">
                <span class="number" id="minutes">
                    {{minutes}}
                </span>
                <br />
                <span class="text">
                    Min
                </span>
            </div>
            <div class="col count-bg border border-secondary mx-2 my-2 rounded">
                <span class="number" id="seconds">
                    {{seconds}}
                </span>
                <br>
                <span class="text text-center">
                    Seg
                </span>
            </div>
        </div>
    </div>
</div>
