
    <section class="row">
    <div class="col-xl-12 ">
        <div class="hero-background wow fadeInDown" data-wow-duration="5s" data-wow-delay=".5s">
        <img src="assets/background.jpg" class="img-fluid" alt="...">
        <div class="col my-3 content">
            <h1 class="wow fadeInDownBig" data-wow-duration="2s" data-wow-delay=".5s">Beatriz & Sebastian</h1>
            <p class="wow fadeInDownBig" data-wow-duration="2s" data-wow-delay=".5s">Motivados por el amor que nos
                profesamos
                y con la bendición de nuestros padres uniremos
                nuestras vidas en matrimonio.</p>
            <app-datetime></app-datetime>
        </div>
    </div>
    </div>
   
</section>
    