h1 {
    color: rgb(33, 34, 34);
    font-size: 6rem;
    font-family: 'The Nautigal', cursive;
}

p {
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
}

.hero {
    height: 55rem;
}

.background {
    position: absolute;
}

.content {
    position: relative;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    h1{
        font-size: 3rem;
    }
    p {
        font-size: 1.6rem;
    }
    .hero {
        height: 500px;
    }
    .background {
        position: relative;
    }
    
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}