<div class="row">

    <div class="col wow fadeInDown z-index-n1 align-self-center" data-wow-duration="5s" data-wow-delay=".5s">
        <app-hero-background></app-hero-background>


    </div>
    <div class="col z-index-n2 align-self-start position-absolute my-3">
        <h1 class="wow fadeInDownBig" data-wow-duration="2s" data-wow-delay=".5s">Beatriz & Sebastian</h1>
        <p class="wow fadeInDownBig" data-wow-duration="2s" data-wow-delay=".5s">Motivados por el amor que nos profesamos
            y con la bendición de nuestros padres uniremos
            nuestras vidas en matrimonio.</p>

        <app-datetime></app-datetime>
    </div>

</div>