<div class="container wow flipInX" data-wow-duration="1s" data-wow-delay=".5s">
    <div class="row my-5 ">
        <div class="col my-5">
            <h1>Mesa de regalos</h1>
            <p>Tu presencia es nuestro mejor regalo, si quieres darnos un regalo puedes hacerlo por medio de estas
                opciones
            </p>
            <div class="row justify-content-center">
                <div class="col-3 box mx-2 border border-opacity-25 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
                    <h3>TRANSFERENCIA BANCARIA</h3>
                    <p class="text-start" id="num">4253082523529 </p>
                   <p class="text-start" id="info"> BBVA <br>
                   Alvaro Reyes</p>
                </div>
                <div class="col-3 box mx-2 border border-opacity-25 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
                    <h3 class="mb-5">MESA DE REGALOS</h3>
                    <div class="col my-2">
                        <button class="btn btn-block btn-outline-info rounded-pill">LIVERPOOL</button>
                    </div>
                    <div class="col my-2">
                        <button class="btn btn-block btn-outline-info rounded-pill">AMAZON</button>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>