

* {
    text-align: center;
}

h1 {
    color: rgb(33, 34, 34);
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
}

h5 {
    color: rgb(33, 34, 34);
    font-size: 2rem;
    font-family: 'Cormorant Garamond', cursive;
}

p {
    font-family: 'Cormorant Garamond', cursive;
    font-size: 1.5rem;
}


.card {
    border-radius: 15px;
}

