img {
    height: 100%;
    -webkit-box-shadow: 10px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px 1px #444444, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

h2 {
    color: rgb(33, 34, 34);
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
}
p {
    font-family: 'Cormorant Garamond', cursive;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5rem;
}




/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    h2{
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }

    img {
        height: 70%;
    }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    h2{
        font-size: 1.9rem;
    }

    p {
        font-size: 1.1rem;
    }

    img {
        height: 75%;
    }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    h2{
        font-size: 2.4rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        height: 80%;
    }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    h2{
        font-size: 2.8rem;
    }

    p {
        font-size: 1.4rem;
    }

    img {
        height: 90%;
    }
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}