<div class="row">
    <div class="col-3 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
        <p class="lead">La novia</p>
        <h2 class="display-2">Beatriz Garza</h2>
        <hr>
        <figcaption class="blockquote-footer mt-2">
            Estoy feliz por unir mi vida con la persona que mas amo, en este dia tan especia para mi, quiero compartir
            este momento contigo
        </figcaption>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1><i class="fa-brands fa-twitter mx-2"></i></h1>
                <h1><i class="fa-brands fa-facebook mx-2"></i></h1>
                <h1><i class="fa-brands fa-instagram mx-2"></i></h1>
            </div>

        </div>
    </div>
    <div class="col-3 wow flipInX" data-wow-duration="1s" data-wow-delay=".5s">
        <img src="../../../assets/girlfriend.jpg" class="img-fluid rounded mx-auto d-block" alt="">
    </div>
    <div class="col-3 wow flipInX" data-wow-duration="1s" data-wow-delay=".5s">
        <img src="../../../assets/boyfriend.jpg" class="img-fluid rounded mx-auto d-block" alt="">
    </div>
    <div class="col-3 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
        <p class="lead">El novio</p>
        <h2 class="display-2">Sebastian Sada</h2>
        <hr>
        <figcaption class="blockquote-footer mt-2">
            En el día mas feliz de mi vida, quiero que seas testigo de la unión con el amor de mi vida
            este momento contigo
        </figcaption>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1><i class="fa-brands fa-twitter mx-2"></i></h1>
                <h1><i class="fa-brands fa-facebook mx-2"></i></h1>
                <h1><i class="fa-brands fa-instagram mx-2"></i></h1>
            </div>

        </div>
    </div>
</div>