<div class="row d-flex justify-content-center">
    <div class="col-8 col-md-3 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
        <h2 class="display-2">Novia <br> Beatriz Garza</h2>
        <hr>
        <p class="mt-2">
            Estoy feliz por unir mi vida con la persona que mas amo, en este dia tan especia para mi, quiero
            compartir
            este momento contigo
        </p>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1><i class="fa-brands fa-twitter mx-2"></i></h1>
                <h1><i class="fa-brands fa-facebook mx-2"></i></h1>
                <h1><i class="fa-brands fa-instagram mx-2"></i></h1>
            </div>

        </div>
    </div>
    <div class="col-10 col-md-3 d-flex justify-content-center box-couple wow flipInX" data-wow-duration="1s" data-wow-delay=".5s">
        <img src="assets/girlfriend.jpg" class="img-fluid rounded mx-auto" alt="">
    </div>
        <div class="col-10 col-md-3 order-2 order-md-1 d-flex justify-content-center box-couple wow flipInX" data-wow-duration="1s" data-wow-delay=".5s">
            <img src="assets/boyfriend.jpg" class="img-fluid rounded mx-auto" alt="">
        </div>
        <div class="col-8 col-md-3 order-1 order-md-2 wow flipInX" data-wow-duration="1s" data-wow-delay="1s">
            <h2 class="display-2">Novio <br> Sebastian Sada</h2>
            <hr>
            <p class="mt-2">
                En el día mas feliz de mi vida, quiero que seas testigo de la unión con el amor de mi vida
                este momento contigo
            </p>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1><i class="fa-brands fa-twitter mx-2"></i></h1>
                    <h1><i class="fa-brands fa-facebook mx-2"></i></h1>
                    <h1><i class="fa-brands fa-instagram mx-2"></i></h1>
                </div>

            </div>
        </div>
</div>